{% load static %}

<footer class="bg-dark py-3 text-light mt-5">
    <section>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-5 text-md-start text-center p-2">
            <div>
                <h2 class="fs-1 fw-semibold">We detect <span style="color: #068FFF;">harmful</span> weeds.</h2>
            </div>
            <div>
                <p class="fs-5 mb-2">CONTACT INFO</p>
                <p class="">+8801740085214</p>
                <p>ruhul15-13103@diu.edu.bd</p>
            </div>
            <div>
                <p class="fs-5 mb-2">My address</p>
                <p>Shukrabad, Dhanmondi, Dhaka, Bangladesh</p>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-5 text-md-start text-center p-2">
            <div>
                <h5>Copyright © 2023 Your Company Design: Ruhul</h5>
            </div>
            <div>
                <p>Stories</p>
                <p>Work with us</p>
                <p>Privacy</p>
            </div>
            <div>
                <a href="https://www.instagram.com/razansarker7/" target="_blank">
                    <i class="bi bi-instagram fs-3 me-3 text-light-emphasis"></i>
                </a>
                <a href="https://twitter.com/sarker_razan" target="_blank">
                    <i class="bi bi-twitter fs-3 me-3 text-light-emphasis"></i>
                </a>
                
                <a href="https://www.facebook.com/razan.sarker.7/" target="_blank">
                    <i class="bi bi-facebook fs-3 me-3 text-light-emphasis"></i>
                </a>
                <a href="https://www.linkedin.com/in/razan-sarker/" target="_blank">
                    <i class="bi bi-linkedin fs-3 text-light-emphasis"></i>
                </a>
            </div>
        </div>
    </section>
</footer>